.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.left-column {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  text-align: center;
}

.right-column {
  flex: 1;
  padding-left: 20px;
  text-align: center;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="date"],
input[type="email"],
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}